*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jp
    background-size: cover; 
        background-position: center;
        height: 109vh;
        background-image:C:\Users\HP\Downloads\Gemini_Generated_Image_zf85pzzf85pzzf85.png;
}